@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.heading {
  font-size: 3rem;
}

body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #b2eebc;
}


/* Utulity */
.tombol {
  text-transform: uppercase;
  border-radius: 40px;
}


/* DESKTOP VERSION */
@media (min-width: 992px) {
  .navbar-brand, .nav-link {
  color: black !important;
  }
.nav-link {
  text-transform: uppercase;
  margin-right: 30px;
}

.nav-link:hover::after {
  content: '';
  display :block;
  border-bottom: 3px solid #0B63Dc;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}
}
/* akhir desktop */

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: 25px;
  right: 4px;
  opacity: 0.4;
  font-size: 90px;
  width: 50%;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background:rgba(255, 51, 153,.05);
}

.heading span {
  color:var(--green);
}
