{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--bagian navbar-->
    <nav class="navbar navbar-expand-lg" style="background-color:#000000;">
      <div class="container-fluid">
        <img src="{% static 'logo.png' %}" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-brand">
              <font size="7"><strong><a class="nav-link {% if navbar == 'index' %} active {% endif %}" aria-current="page" href="{% url 'index' %}" style="color:	#FFFFFF">Lets Learn</a></strong></font>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if navbar == 'profile' %} active {% endif %}" href="{% url 'profile' %}" style="color:	#FFFFFF">PROFILE</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:	#FFFFFF">
                HIMPUNAN
              </a>
              <ul class="dropdown-menu" style="background-color:#ffffff;">
                <li><a class="dropdown-item {% if dropdown == 'pendahuluan' %} active {% endif %}" href="{% url 'pendahuluan' %}" style="color:	#000000">PENDAHULUAN</a></li>

                <li><a class="dropdown-item {% if dropdown == 'notasi' %} active {% endif %}" href="{% url 'notasi' %}" style="color:	#000000">KONSEP DAN NOTASI HIMPUNAN</a></li>

                <li><a class="dropdown-item {% if dropdown == 'kosong' %} active {% endif %}" href="{% url 'kosong' %}" style="color:	#000000">HIMPUNAN KOSONG DAN HIMPUNAN SEMESTA</a></li>

                <li><a class="dropdown-item {% if dropdown == 'bagian' %} active {% endif %}" href="{% url 'bagian' %}" style="color:	#000000">HIMPUNAN BAGIAN</a></li>

                <li><a class="dropdown-item {% if dropdown == 'hubungan' %} active {% endif %}" href="{% url 'hubungan' %}" style="color:	#000000">HUBUNGAN ANTAR HIMPUNAN</a></li>
                
                <li><a class="dropdown-item {% if dropdown == 'operasi' %} active {% endif %}" href="{% url 'operasi' %}" style="color:	#000000">OPERASI HIMPUNAN</a></li>

                <li><a class="dropdown-item {% if dropdown == 'diagram' %} active {% endif %}" href="{% url 'diagram' %}" style="color:	#000000">DIAGRAM VENN</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if navbar == 'about' %} active {% endif %}" href="{% url 'about' %}" style="color:#FFFFFF"">TENTANG</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:	#FFFFFF">
                MAHASISWA</a>
              <ul class="dropdown-menu dropdown-menu-dark" style="background-color:#ffffff;">
                <li><a class="dropdown-item {% if dropdown == 'mahasiswa' %} active {% endif %}" href="{% url 'mahasiswa' %}" style="color:	#000000">Mahasiswa</a></li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" style="color:#FFFFFF">Search</button>
          </form>
        </div>
      </div>
    </nav>
      <!--penutup navbar-->

      <link rel="stylesheet" href="{% static 'css/style.css' %}">

      <br></br>
      <section class="container">
          <center>
      <font size="6"><strong>BAB 3
      <p>HIMPUNAN BAGIAN</p>
      </strong></font>
      <iframe style="width: 400px;height: 290px;"type="text/html" src="https://www.youtube.com/embed/WalksHefHeg?autoplay=1&origin=wibloog.com" frameborder="5"></iframe>
      </center>
      <font size="5">
        <h3><strong>4.1 PENGERTIAN HIMPUNAN BAGIAN</strong></h3>
        <ol>
        <p align="justify">Agar kalian dapat lebih memahami tentang himpunan bagian, perhatikan himpunan-himpunan berikut.
          <p>A = {1, 2, 3} 
          <p>B = {4, 5, 6} 
          <p>C = {1, 2, 3, 4, 6} 
        <p align="justify">Berdasarkan ketiga himpunan di atas, terlihat bahwa setiap anggota himpunan A, yaitu 1, 2, 3 juga menjadi anggota himpunan C. Dalam hal ini bisa dikatakan bahwa himpunan A merupakan himpunan bagian dari C, ditulis A ⊂ C atau C ⊃ A. 
          </p>
      <br>
      <p>Himpunan A merupakan himpunan bagian B, jika setiap anggota A juga menjadi anggota B dan dinotasikan A ⊂ B atau B ⊃ A (Nuharini, 2007, p. 172).</p>
      <br>
      <p>Sekarang perhatikan himpunan B dan himpunan C. 
        <p>B = {4, 5, 6} 
        <p>C = {1, 2, 3, 4, 5} 
      <p align="justify">Terlihat bahwa tidak setiap anggota B menjadi anggota C, karena 6 ∉ C. Dikatakan bahwa B bukan merupakan himpunan bagian dari C, ditulis B  ⊄ C. (B  ⊄ C dibaca: B bukan himpunan bagian dari C). 
        </p>
      <br>
      <p align="justify">Himpunan A bukan merupakan himpunan bagian B, jika terdapat anggota A yang bukan anggota B, dan dinotasikan A  ⊄ B (Nuharini, 2007, p. 172).          <br>
      </p>
    </ol>
    <br>
    <br>
      <h3><strong>4.2 MENENTUKAN BANYAKNYA HIMPUNAN BAGIAN DARI SUATU HIMPUNAN</strong></h3>
      <ol>
      <table class="table">
        <thead class="table-success">
          <td><strong><center>HIMPUNAN</center></strong></td>
          <td><strong><center>BANYAKNYA ANGGOTA</center></strong></td>
          <td><strong><center>HIMPUNAN BAGIAN</center></strong></td>
          <td><strong><center>BANYAKNYA HIMPUNAN BAGIAN</center></strong></td>
        </thead>
        <tbody>
          <td><center>{a}</center></td>
          <td><center>1</td></center>
          <td><center>{ } <P>{a}</P></td></center>
          <td><center>2 = 2<sup>1</sup></td></center>
        </tbody>
        <tbody>
          <td><center>{a, b}</center></td>
          <td><center>2</td></center>
          <td><center>{ }<p>{a}, {b}<p>{a, b}</p></td></center>
          <td><center>4 = 2<sup>2</sup></td></center>
        </tbody>
        <tbody>
        <td><center>{a, b, c}</center></td>
        <td><center>3</td></center>
        <td><center>{ } 
          <p>{a}, {b}, {c}<p>{a, b}, {a, c}, {b, c}<p>{a, b, c}</p></td></center>
        <td><center>8 = 2<sup>3</sup></td></center>
        </tbody>
        <tbody>
        <td><center>{a, b, c, d}</center></td>
          <td><center>4</td></center>
          <td><center>{ } 
            <p>{a}, {b}, {c}, {d} 
            <p>{a, b}, {a, c}, {a, d}, {b, c}, { b, d}, {c, d} 
            <p>{a, b, c}, {a, b, d}, {a, c, d}, {b, c, d} 
            <p>{a, b, c, d}</p></td></center>
          <td><center>16 = 2<sup>4</sup></td></center>
          </tbody>
          <tbody>
          <td><center>{a, b, c, d, ...}</center></td>
          <td><center>n</td></center>
          <td><center>{ }<p>{a}, {b}, ...</p></td></center>
          <td><center>2<sup>n</sup></td></center>
          </tbody>
        </ol>
      </table>
    <br>
    <ol>
    <p align="justify">Berdasarkan tabel di atas, dapat dilihat bahwa ada hubungan antara jumlah anggota suatu himpunan dengan jumlah himpunan bagian dari himpunan tersebut. Oleh karena itu, dapat diambil kesimpulan sebagai berikut. 
    </p>
    <br>
    <p align="justify">Banyaknya semua himpunan bagian dari suatu himpunan adalah 2n, dengan n banyaknya anggota himpunan tersebut (Nuharini, 2007, p. 174).</p>
    </ol>
    <br>
        <h3><strong>4.3 RANGKUMAN</strong></h3>
      <ol>
          <p>a. Himpunan A merupakan himpunan bagian B, jika setiap anggota A juga menjadi anggota B dan dinotasikan A ⊂ B atau B ⊃ A.</p>
          <p>b. Himpunan A bukan merupakan himpunan bagian B, jika terdapat anggota A yang bukan anggota B dan dinotasikan A ⊄  B.</p>
          <p>c. Setiap himpunan A merupakan himpunan bagian dari himpunan A sendiri, ditulis A ⊂  A.</p>
          <p>d. Banyaknya semua himpunan bagian dari suatu himpunan adalah 2n , dengan n banyaknya anggota himpunan tersebut.</p>
      </ol>
      <br>
      <br>
      <h3><strong>4.4 LATIHAN</strong></h3>
      <ol>
      <p align="justify">Tentukan himpunan bagian dari P = {bilangan prima antara 2 dan 20} berikut ini dengan mendaftar anggota-anggotanya. 
        <p>a. Himpunan bilangan ganjil anggota P. 
        <p>b. Himpunan bilangan genap anggota P. 
        <p>c. Himpunan anggota P yang kurang dari 10. 
        <p>d. Himpunan anggota P yang lebih dari 7.
      </p>
      </ol>
      <h3><strong>JAWABAN</strong></h3>
      <ol>
        <p>a) Bilangan ganjil antara 2 dan 20 adalah 3,5,7,9,11,13,15,17,19. Maka P = {3,5,7,11,13,15,17,19}
        <p>b) bilangan genap antara 2 dan 20 adalah 4,6,8,10,12,14,16,18. Maka P = {4,6,8,10,12,14,16,18}
        <p>c) bilangan prima antara 2 dan 20 adalah 3,5,7,11,13,17,19. Maka bilangan prima yang kurang dari 10, yaitu P = { 3,5,7}
        <p>d) bilangan prima antara 2 dan 20 adalah 3,5,7,11,13,17,19. Maka bilangan prima yang lebih dari 7, yaitu P = { 11,13,17,19}
        </p>
        </ol>
      </font> 
      </section>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
      </body>
      {% endblock %}