{% extends 'base.html' %}
{% load static %}
{% block content %}


      <section class="container">
          <center>
      <font size="6"><strong>BAB 6
      <p>DIAGRAM VENN</p>
      </strong></font>
      <iframe style="width: 400px;height: 290px;"type="text/html" src="https://www.youtube.com/embed/9VQ7FYXiCsM?autoplay=1&origin=wibloog.com" frameborder="5"></iframe>
      </center>
      <font size="5">
        <h3><strong>7.1 PENGERTIAN DIAGRAM VENN</strong></h3>
      <ol>
        <p align="justify">Diagram Venn pertama kali ditemukan oleh matematikawan Inggris John Venn yang hidup dari tahun 1834 - 1923. Dalam diagram Venn, himpunan semesta dinyatakan dengan daerah persegi panjang, sedangkan himpunan lain dalam semesta pembicaraan dinyatakan dengan lingkaran atau kurva tertutup dan noktah-noktah untuk menyatakan anggotanya (Nuharini, 2007, p. 186).
        </p>
        <br>
        <p align="justify">Diagram venn merupakan suatu gambar yang digunakan untuk menyatakan suatu himpunan dalam himpunan semesta (Nuharini, 2007, p. 186).</p>
        </ol>
      <br>
      <br>
      <h3><strong>7.2 CARA MEMBUAT DIAGRAM VENN</strong></h3>
      <ol>
        <img src="https://i.postimg.cc/QCGsD4Cg/20171004-105643diagram-venn.jpg" width ="350px" height="250px">
        <p>cara membuat diagram venn :
        <li>Himpunan semesta dalam diagram Venn ditampilkan dengan bentuk persegi panjang.</li>
        <li>Setiap himpunan yang disampaikan akan diuraikan dengan lingkaran atau kurva tertutup.</li>
        <li>Setiap anggota himpunan diwakili oleh titik</li>
        </p>
        </ol>
        <br>
        <br>
        <h3><strong>7.3 MENGGAMBAR DIAGRAM VENN DARI HIMPUNAN YANG MEMPUNYAI BANYAK ANGGOTA</strong></h3>
      <ol>
        <p align="justify">Untuk himpunan-himpunan yang mempunyai banyak anggotaa, cukup menuliskan banyaknya anggota saja, tidak perlu menuliskan anggotanya dan tanpa menggunakan noktah/titik.
        </p>
        <br>
        <p>contoh :</p>
        <br>
        <img src="https://i.postimg.cc/xT0jddnW/venn-2.png" width ="350px" height="250px">
        <p>gambar 4.1 menunjukkan diagram venn kita notasikan Bubur sebagai B dan Jagung sebagai J, jika diketahui :</p>
        <p>S = {1,2,3,...,250},</p>
        <p>n(S) = 102 + 26 + 103 + 19 = 250,</p>
        <p>n(B) = 102 + 26 = 128,</p>
        <p>n(J) = 103 + 26 = 129</p>
        </ol>
        <br>
        <br>   
        <h3><strong>7.4 RANGKUMAN</strong></h3>
        <ol>
        <li><p align="justify">Diagram venn merupakan suatu gambar yang digunakan untuk menyatakan suatu himpunan dalam himpunan semesta.</p>
        <li><p align="justify">Untuk himpunan-himpunan yang mempunyai banyak anggotaa, cukup menuliskan banyaknya anggota saja, tidak perlu menuliskan anggotanya dan tanpa menggunakan noktah/titik.</p>   
        </ol>
        <br>
        <br>
        <h3><strong>7.5 LATIHAN</strong></h3>
        <ol>
        <p>Diketahui himpunan – himpunan berikut!</p>
            <p>S = {bilangan cacah kurang dari 15}</p>
            <p>A = {lima bilangan ganjil pertama}</p>
            <p>B = {lima bilangan genap pertama}</p>
            <p>C = {faktor dari 8}</p>
            <p>D = {tiga bilangan kuadrat pertama}</p>
            <br>
            <p>a. Nyatakanlah himpunan – himpunan diatas dengan mendaftar anggota – anggotanya.</p>
            <p>b. Buatlah diagram Venn untuk masing – masing himpunan berikut.</p>
                     <p>a) Himpunan S, A dan B</p>
                    <p>b) Himpunan S, A dan D<p>
                    <p>c) Himpunan S, A, C, dan D</p>
        <br>
        <h3><strong>JAWABAN</strong></h3>
        <P>Himpunan – himpunan pada soal diatas jika kita daftarkan anggotanya adalah sebagai berikut :</P>
            <p>S = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}</p>
            <p>A = {1, 3, 5, 7, 9}</p>
            <p>B = {2, 4, 6, 8, 10}</p>
            <p>C = {1, 2, 4, 8}</p>
            <p>D = {1, 4, 9}</p>
            <br>
        <p align="justify">Diagram Venn untuk himpunan S, A dan B Dari anggota himpunan – himpunan diatas dapat kita lihat bahwa setiap anggota himpunan A dan B merupakan anggota himpunan S. maka S adalah himpunan semestanya.
           <br> 
        <p align="justify">Jika kita lihat, tidak ada anggota himpunan A dan B yang sama, maka kedua himpunan tersebut dibuat dalam dua lingkaran yang tidak saling berpotongan, yaitu sebagai berikut :
            </P>
        <img src="https://i.postimg.cc/FsVnprtg/venn-3.png" width ="350px" height="250px">
        
        </ol>
      </font> 
      </section>
      </body>
      {% endblock %}