{% extends 'base.html' %}
{% load static %}
{% block content %}

      <section class="container">
          <center>
      <font size="6"><strong>BAB 4
      <p>HUBUNGAN ANTAR HIMPUNAN</p>
      </strong></font>
      <iframe style="width: 400px;height: 290px;"type="text/html" src="https://www.youtube.com/embed/BMMQc4ItsR4?autoplay=1&origin=wibloog.com" frameborder="5"></iframe>
      </center>
      <font size="5">
        <h3><strong>5.1 HIMPUNAN SALING LEPAS ATAU SALING ASING</strong></h3>
      <ol>
        <p>Diketahui 
          <p>A = {burung, ayam, bebek} dan</p>
          <p>B = {kucing, anjing, ikan}.</p>
          <p align="justify">Perhatikan bahwa tidak ada anggota himpunan A yang merupakan anggota himpunan B. Dan sebaliknya, setiap anggota himpunan B bukan anggota himpunan A. Dalam hal ini, dapat dikatakan bahwa tidak ada anggota yang sama antara himpunan A dan B. Hubungan antara himpunan A dan B yang demikian disebut himpunan saling lepas atau saling asing.
        </p>
        <br>
        <p align="justify">Dua himpunan yang tidak kosong dikatakan saling lepas atau saling asing jika kedua himpunan tersebut tidak mempunyai anggota persekutuan (Nuharini, 2007, p. 175)</p>
      </ol>
      <br>
      <br>
      <h3><strong>5.2 HIMPUNAN TIDAK SALING LEPAS (BERPOTONGAN)</strong></h3>
      <ol>
      <p>Selanjutnya, perhatikan kedua himpunan berikut. 
        <p>K = {1, 2, 3, 4, 5} 
        <p>L = {2, 3, 5, 7, 11}
        <p align="justify">Perhatikan bahwa terdapat anggota himpunan K yang juga menjadi anggota himpunan L, yaitu {2, 3, 5}. Dalam kasus ini, kita katakan bahwa {2, 3, 5} adalah anggota perekutuan dari himpunan K dan L. Perhatikan juga bahwa beberapa anggota himpunan K bukan anggota himpunan L dan sebaliknya. Kondisi dua himpunan seperti ini disebut himpunan tidak saling lepas (berpotongan). 
        </p>
        <br>
        <p align="justify">Dua himpunan A dan B dikatakan tidak saling lepas (berpotongan) jika A dan B mempunyai anggota persekutuan, tetapi masih ada anggota A yang bukan anggota B dan ada anggota B yang bukan anggota A (Nuharini, 2007, p. 176)</p>
        </ol>
      <br>
      <br>
        <h3><strong>5.3 DUA HIMPUNAN SAMA (EKUIVALEN)</strong></h3>
      <ol>
        <p>Sekarang, perhatikan himpunan A = {f, i, r, l, i} dan himpunan B = {l, i, f, i, r}.</p>
        <p align="justify">Ternyata, setiap anggota A termuat dalam B, demikian juga sebaliknya. Dalam hal ini, himpunan A dan B disebut dua himpunan sama, ditulis A = B.
        </p>
        <br>
        <p align="justify">Dua himpunan dikatakan sama, apabila kedua himpunan mempunyai anggota yang tepat sama (Nuharini, 2007, p. 174)
        <p align="justify">Jika banyaknya anggota himpunan P = banyaknya anggota himpunan Q, atau n(P) = n(Q) maka P dan Q dikatakan ekuivalen
            </p>
        <p>Dua himpunan A dan B dikatakan ekuivalen jika n(A) = n(B) (Nuharini, 2007, p. 176).</p>
        <br>
        <br>   
        <h3><strong>5.4 RANGKUMAN</strong></h3>
        <ol>
        <p>a. Dua himpunan yang tidak kosong dikatakan saling lepas atau saling asing jika kedua himpunan tersebut tidak mempunyai anggota persekutuan. 
        <p>b. Dua himpunan dikatakan sama, jika kedua himpunan mempunyai anggota yang tepat sama. 
        <p>c. Dua himpunan A dan B dikatakan ekuivalen jika n(A) = n(B). 
        </p>
        </ol>
        <br>
        <br>
      <h3><strong>5.5 LATIHAN</strong></h3>
      <ol>
        <p align="justify">Himpunan A = {1, 2, 3}, B = (a, b, c}, dan E = {1, ½ , 1/3 , ¼ } mana yang ekuivalen di antara tiga himpunan tersebut?</p>
        <br>
        <h3><strong>JAWABAN</strong></h3>
        <p>n(A) = 3, n(B) = 3, dan n(C) = 4
        <p>Jadi n(A) = n(B) = 3, maka himpunan A ekuivalen B
        </p>
      </ol>
      </font> 
      </section>
      </body>
      {% endblock %}