{% extends 'base.html' %}
{% load static %}
{% block content %}


      <!-- Jumbotron -->
<section class="jumbotron text-center">
  <img src="{% static 'LL.png' %}" alt="foto" width="600">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#8b4513" fill-opacity="1" d="M0,160L30,160C60,160,120,160,180,165.3C240,171,300,181,360,160C420,139,480,85,540,74.7C600,64,660,96,720,138.7C780,181,840,235,900,250.7C960,267,1020,245,1080,213.3C1140,181,1200,139,1260,133.3C1320,128,1380,160,1410,176L1440,192L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
</section>
<!-- Akhir Jumbotron -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<hr class="border border-Secondary border-3 opacity-75">
<br>
<font size="5"><strong><center>Selamat datang di Portal Pembelajaran Daring Mata Pelajaran Matematika</center></strong></font>
<br>
<hr class="border border-Secondary border-3 opacity-75">
<section class="about" id="about">
<h1 class="heading"><span>TENTANG LETS LEARN</span></h1>
<div class="card mb-3" style="max-width: 1400px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'logo2.jpeg' %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <br></br><br></br>
        <font size="5">
        <h3 class="card-title">Lets Learn</h3>
        <p align="justify" class="card-text">Lets Learn merupakan Platform pembelajaran (e-learning) jarak jauh yang berisi materi-materi matematika. Sejak COVID-19 menyebar ke seluruh provinsi di Indonesia, pemerintah bersama Kementerian Pendidikan dan Kebudayaan memutuskan untuk melaksanakan kegiatan pembelajaran jarak jauh (PJJ) melalui internet. Maka dari itu, Lets Learn hadir untuk membantu menunjang pembelajaran jarak jauh.</p>
      </font>
      </div>
    </div>
  </div>
</div>

<hr class="border border-Secondary border-3 opacity-75">

<font size="6"><strong><center>PROFIL PENGEMBANG</center></strong></font>
<br></br>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img src="{% static 'firli.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Firlinda Fadhilah Priyantini (2225210098)</h5>
        <h5 class="card-title">Serang, 26 Februari 2003</h5>
        <blockquote class="blockquote mb-0">
          <p>I Can If I Think I Can</p>
          <footer class="blockquote-footer">Firliyan</footer>
        </blockquote>    
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'uci.jpeg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Husnul Khotimah Salsabila Firdausy (2225210031)</h5>
        <h5 class="card-title">Jakarta, 15 April 2002</h5>
        <blockquote class="blockquote mb-0">
          <p>There's no better time than now</p>
          <footer class="blockquote-footer">Uci</footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'alya.jpeg' %}" class="card-img-top" alt="..." width="600">
      <div class="card-body">
        <h5 class="card-title">Alya Imania (2225190095)</h5>
        <h5 class="card-title">Serang, 31 Oktober 2001</h5>
        <blockquote class="blockquote mb-0">
          <p>Belajarlah dari kesalahan di masa lalu, cobalah dengan cara yang berbeda, dan selalu berharap untuk sebuah kesuksesan di masa depan</p>
          <footer class="blockquote-footer">Alya</footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'arsyad.jpeg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Arsyad Dwi Hermansyah (2225210046)</h5>
        <h5 class="card-title">Bogor, 5 Mei 2003</h5>
        <blockquote class="blockquote mb-0">
          <p>Penyesalan akibat kegagalan tidak ada apa-apanya dibanding penyesalan akibat tidak berani mencoba</p>
          <footer class="blockquote-footer">Arsyad</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
  <br></br>
  <hr class="border border-Secondary border-3 opacity-75">

  <div class="card text-center">
    <div class="card-header">
      TENTANG
    </div>
    <div class="card-body">
      <h5 class="card-title">About Us</h5>
      <p class="card-text">TEKNOLOGI INFORMASI DAN KOMUNIKASI UNTUK PEMBELAJARAN</p>
      <a href="#" class="btn btn-primary">Lihat Lebih Lanjut</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
  
  <hr class="border border-Secondary border-3 opacity-75">
  <br></br>
  <br></br>
  <br></br>

</div>
</div>
</div>
{% endblock %}