{% extends 'base.html' %}
{% load static %}
{% block content %}

      <section class="container">
    <center>
          <font size="6"><strong>BAB 2
          <p>HIMPUNAN KOSONG DAN HIMPUNAN SEMESTA</p>
      </strong></font>
      <iframe style="width: 400px;height: 290px;"type="text/html" src="https://www.youtube.com/embed/SuWFF2Eayj4?autoplay=1&origin=wibloog.com" frameborder="5"></iframe>
    </center>
      <font size="5">
      <ol>
        <h3><strong>3.1 HIMPUNAN KOSONG DAN HIMPUNAN NOL</strong></h3>
        <p align="justify">Jika P adalah himpunan segitiga yang mempunyai 2 buah sisi maka anggota P tidak ada atau kosong. Himpunan P disebut himpunan kosong (tidak mempunyai anggota), karena jumlah sisi persegi adalah empat.</p>
        <br>
        <p><strong>"Himpunan kosong adalah himpunan yang tidak mempunyai anggota, dan dinotasikan dengan { } atau ∅ (Nuharini, 2007, p. 169)".</strong></p>
        <br>
        <p align="justify">Jika P = {x | x < 1, x ∈ C} maka P = {0} atau n(P) = 1. Himpunan P disebut himpunan nol. Anggota himpunan R adalah 0. Jadi, himpunan R bukan merupakan himpunan kosong.</p>
        <br>
        <p><strong>Himpunan nol adalah himpunan yang hanya mempunyai 1 anggota, yaitu nol (0) (Nuharini, 2007, p. 170)</strong></p>
      </ol>
      <br>
      <ol>
        <h3><strong>3.2 HIMPUNAN SEMESTA</strong></h3>
        <img src="https://i.postimg.cc/cLd89NPR/img-buah-buahan.jpg" width ="350px" height="250px">
        <br>
        <br>
        <p align="justify">Jika B = {strawberry, jeruk, apel, anggur} maka himpunan semesta dari himpunan B adalah himpunan S = {buah-buahan}. Dengan kata lain, S adalah himpunan semesta dari B. Himpunan S memuat semua anggota himpunan B.</p>
        <br> 
        <p><strong>Himpunan semesta atau semesta pembicaraan adalah himpunan yang memuat semua anggota atau objek himpunan yang dibicarakan. Himpunan semesta (semesta pembicaraan) biasanya dilambangkan dengan S. (Nuharini, 2007, p. 170).</strong></p>
        </ol>
        <br>
        <ol>
        <h3><strong>3.3 RANGKUMAN</strong></h3>
          <p>1. Himpunan kosong adalah himpunan yang tidak mempunyai anggota, dan dinotasikan dengan { } atau ∅.</p>
          <p>2. Himpunan nol adalah himpunan yang hanya mempunyai 1 anggota, yaitu nol (0)</p>
          <p>3. Himpunan semesta atau semesta pembicaraan adalah himpunan yang memuat semua anggota atau objek himpunan yang dibicarakan. Himpunan semesta biasanya dilambangkan dengan S.</p>
        </ol>
        <br>
        <ol>
        <h3><strong>3.4 LATIHAN</strong></h3>
        <P>Tentukan sebuah himpunan semesta yang mungkin untuk himpunan-himpunan berikut.</P>
        <P>a. A = {1, 4, 9, 16, 25}</P>
        <p>b. B = {1, 3, 5, 7, ... }</p>
        <p>c. E = {m, dm, cm, mm}</p>
        <p>d. F = {kerucut, tabung, bola}</p>

        <br>
        <h3><strong>JAWABAN</strong></h3>
        <p>A = {1, 4, 9, 16, 25}
        <p>himpunan semestanya S = {x|x², x ∈ bilangan asli}
        <p>himpunan semestanya S = {bangun ruang}
          </p>

      </ol>
      </font> 
    </section>
      </body>
      {% endblock %}