{% extends 'base.html' %}
{% load static %}
{% block content %}

      <section class="container">
          <center>
      <font size="6"><strong>PENDAHULUAN</center>
        <br>
      <font size="4">
        <h3><strong>1.1 SEKILAS HIMPUNAN</strong></h3>
      </strong></font>
      <center><img src="https://i.postimg.cc/8kLm08s6/pendahuluan.jpg" width ="800px" height="500px"></center>
    </center>
          <p align="justify">Di dalam kehidupan sehari-hari, sebenarnya kita sudah mengenal tentang himpunan. Ketika kita pergi ke supermarket, kita akan menjumpai berbagai barang dagangan yang dijual dengan jenis yang sama dihimpun di tempat yang sama. Penghimpunan jenis barang tersebut dapat memudahkan pembeli memilih barang. Jadi, tahukah kalian apa kegunaan himpunan? Untuk memahami tentang himpunan, ayo kita pelajari materi ini dengan saksama!.</P>
          </br>
            <h3><strong>1.2 KESULITAN SISWA PADA MATERI HIMPUNAN</strong></h3>
          <li>Kurang pemahaman mengenai konsep himpunan</li>
          <li>Sulit membedakan antara irisan dan gabungan</li>
          <li>Komplemen</li>
          <li>Dalam membuat diagram venn</li>
          <br>
          <h3><strong>1.3 TUJUAN PEMBELAJARAN PADA MATERI HIMPUNAN</strong></h3>
          <li>Dapat memahami konsep himpunan;</li>
          <li>Dapat menjelaskan pengertian irisan dan gabungan dua himpunan;</li>
          <li>Dapat membedakan irisan dan gabungan;</li>
          <li>Dapat menjelaskan komplemen dari suatu himpunan;</li>
          <li>Dapat menyajikan suatu himpunan dengan diagram Venn;</li>
          <li>Dapat menyelesaikan masalah dengan menggunakan diagram Venn dan konsep himpunan.</li>
            </li>
          </ol>
        </font>
      </section>
      </body>
      {% endblock %}