{% extends 'base.html' %}
{% load static %}
{% block content %}

      <section class="container">
        <font size="6"><strong><center>TEKNOLOGI INFORMASI DAN KOMUNIKASI UNTUK PEMBELAJARAN</center></strong></font>
      <br>
    
      <font size="5"><strong><center>Firlinda Fadhilah Priyantini</center></strong></font>
      <font size="5"><strong><center>2225210098</center></strong></font>
      <font size="5"><strong><center>3B</center></strong></font>
    
      <br>
    
        <center><img src="https://i.postimg.cc/DZC0FFTq/himpunan.png" width ="300px" height="300px"></center>
    
      </br>
    
      <font size="5"><strong><center>Dosen Pengampu : Dr. Aan Hendrayana, S.Si., M.Pd.</center></strong></font>
    
      <br>
    
      <font size="5"><strong><center>PENDIDIKAN MATEMATIKA</center></strong></font>
      <font size="5"><strong><center>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</center></strong></font>
      <font size="5"><strong><center>UNIVERSITAS SULTAN AGENG TIRTAYASA</center></strong></font>
      <font size="5"><strong><center>2022</center></strong></font>
      <br>
    </section>
      </body>
      {% endblock %}