{% extends 'base.html' %}
{% load static %}
{% block content %}

      
      <section class="container">
        <font size="8"><strong><center>KATA PENGANTAR</center></strong></font>
      <br>
      <p>Syukur alhamdulillah penulis panjatkan ke hadirat Allah SWT., yang telah memberikan hidayah dan inayah-Nya sehingga penulis dapat menyelesaikan buku siswa tentang “Himpunan” dengan baik.</p>
    </br>
    <br>
      <p>Buku siswa ini merupakan salah satu bahan ajar mata pelajaran Matematika untuk pegangan siswa pada jenjang Sekolah Menengah Pertama/Madrasah Tsanawiyah berdasarkan Kurikulum 2013 dengan tujuan untuk membantu siswa dalam proses belajar Matematika mengenai Himpunan. </p>
    </br>
    <br>
      <p>Isi materi  Himpunan dalam buku siswa ini berupa kegiatan pembelajaran yang menuntut siswa secara aktif untuk terlibat dalam pembelajaran sehingga siswa akan mendapatkan pengalaman yang diharapkan. Buku siswa ini menjabarkan usaha minimal yang harus dilakukan siswa untuk mencapai kompetensi yang diharapkan. Peran guru sangat penting untuk meningkatkan dan menyesuaikan daya serap siswa dengan ketersedian kegiatan pada buku ini.</p>
    </br>
    <br>
      <p>Setelah mempelajari materi Himpunan dalam Buku Siswa ini, diharapkan siswa mampu memahami materi yang disajikan. Oleh karena itu, konsep-konsep yang disajikan dalam buku ini disampaikan secara logis, sistematis, dan menggunakan bahasa yang sederhana. Selain itu, buku ini juga memiliki tampilan yang menarik sehingga siswa tidak bosan.</p>
    </br>
    <br>
      <p>Dalam penyusunan buku ini, penulis berusaha semaksimal mungkin untuk mendapatkan sumber dan informasi dari buku-buku yang direkomendasikan oleh dosen ataupun website terpercaya. Terima kasih kepada dosen pengampu yang telah membimbing penulis dalam menyusun buku siswa ini hingga selesai. Akhir kata penulis berharap semoga buku siswa ini dapat bermanfaat dan semaksimal mungkin dapat dijadikan sebagai pendamping belajar. Penulis juga sangat mengharapkan saran dan kritik yang membangun untuk lebih menyempurnakan penulisan buku ini.</p>
    </br>
    <br>
      <p>Serang, Maret 2022</p>
    <P>Penulis</P>
    </br>
    </section>
      </body>
   {% endblock %}
