{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<nav class="navbar navbar-expand-lg" style="background-color:#8FBC8F;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="nav-logo" src="{% static 'logo.png' %}" width="60" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active {% if navbar == 'tentang' %} active {% endif %}" href="{% url 'tentang' %}">TENTANG</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"role="button" data-bs-toggle="dropdown" aria-expanded="false">HIMPUNAN</a>
          <ul class="dropdown-menu">            
          <li><a class="dropdown-item {% if dropdown == 'pendahuluan' %} active {% endif %}" href="{% url 'pendahuluan' %}">PENDAHULUAN</a></li>
          
          <li><a class="dropdown-item {% if dropdown == 'notasi' %} active {% endif %}" href="{% url 'notasi' %}">KONSEP DAN NOTASI HIMPUNAN</a></li>

          <li><a class="dropdown-item {% if dropdown == 'kosong' %} active {% endif %}" href="{% url 'kosong' %}">HIMPUNAN KOSONG DAN HIMPUNAN SEMESTA</a></li>

          <li><a class="dropdown-item {% if dropdown == 'bagian' %} active {% endif %}" href="{% url 'bagian' %}">HIMPUNAN BAGIAN</a></li>

          <li><a class="dropdown-item {% if dropdown == 'hubungan' %} active {% endif %}" href="{% url 'hubungan' %}">HUBUNGAN ANTAR HIMPUNAN</a></li>
              
          <li><a class="dropdown-item {% if dropdown == 'operasi' %} active {% endif %}" href="{% url 'operasi' %}">OPERASI HIMPUNAN</a></li>

          <li><a class="dropdown-item {% if dropdown == 'diagram' %} active {% endif %}" href="{% url 'diagram' %}">DIAGRAM VENN</a></li>
        </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            SPLDV
          </a>
          <ul class="dropdown-menu">
          <li><a class="dropdown-item {% if dropdown == 'perbedaan' %} active {% endif %}" href="{% url 'perbedaan' %}">Perbedaan SPLDV dan PLDV</a></li>
          <li><a class="dropdown-item {% if dropdown == 'grafik' %} active {% endif %}" href="{% url 'grafik' %}">Memahami SPLDV Metode Grafik</a></li>
          <li><a class="dropdown-item {% if dropdown == 'eliminasi' %} active {% endif %}" href="{% url 'eliminasi' %}">Memahami SPLDV Metode Eliminasi</a></li>
          <li><a class="dropdown-item {% if dropdown == 'substitusi' %} active {% endif %}" href="{% url 'substitusi' %}">Memahami SPLDV Metode Substitusi</a></li>
          <li><a class="dropdown-item {% if dropdown == 'gabungan' %} active {% endif %}" href="{% url 'gabungan' %}">Memahami SPLDV Metode Gabungan</a></li>
        </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bangun Ruang Sisi Datar
          </a>
          <ul class="dropdown-menu">
          <li><a class="dropdown-item {% if dropdown == 'kubus' %} active {% endif %}" href="{% url 'kubus' %}">KUBUS</a></li>
          <li><a class="dropdown-item {% if dropdown == 'balok' %} active {% endif %}" href="{% url 'balok' %}">BALOK</a></li>
          <li><a class="dropdown-item {% if dropdown == 'limas' %} active {% endif %}" href="{% url 'limas' %}">LIMAS</a></li>
          <li><a class="dropdown-item {% if dropdown == 'prisma' %} active {% endif %}" href="{% url 'prisma' %}">PRISMA</a></li>
      </ul>
      </li>
      <li class="nav-item">
      <a class="nav-item btn btn-success tombol" href="">JOIN US</a>
    </li>
    </div>
    </div>
  </div>
</nav>